html, body {
    height: 100%;
    margin: 0;
}

#content {
    background: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

/* Additional styles to ensure no vertical scrolling */
body {
    overflow-y: hidden;
}

/* Adjustments for smaller screens if needed */
@media (max-width: 600px) {
    #content {
        grid-template-columns: 1fr; /* Adjust for single column on smaller screens */
    }
}


#leftContent {
    background-image: url("Images/space.jpg");
    /* background-color: red; */
}

.contentBlock {
    margin: 10px;
    border-radius: 3%;
    height: 90%;
}

p {
    font-size: 11px; /* Specify the unit for font-size */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 75px;
    color: whitesmoke;
}

h3 {
    color: whitesmoke;

}

#portraitImg {
    display: block;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 50px;
    height: 300px;
    border: 5px solid #ffffff;
}

.contact{
    color: whitesmoke;
    font-size: 25px;
}

.rightContentBlock{
    border-radius: 3%;
    border: 3px solid whitesmoke;
    margin-top: 15px;
}

.subTitle{
    font-size: 25px;
    color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /* Optional: adds some space between the columns */
  } 
  
.grid-item {
    border: 1px solid rgb(71, 71, 195); /* Optional: for visual separation */
    padding: 20px; /* Optional: adds some padding inside the columns */
  }

#codeSnippet{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.transparent-button {
    background: none; /* Makes the button background transparent */
    border: 1px solid white; /* Sets the border to white */
    border-radius: 8px;
    color: white; /* Ensures the text color is white */
    font-weight: bold; /* Makes the font weight bold for better visibility */
    text-align: center; /* Centers the text inside the button */
    padding: 10px 20px; /* Adds some padding around the text */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); /* Adds a subtle shadow for depth */
    transition: all 0.3s ease-out; /* Smoothens transitions for hover effects */
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
}

.transparent-button:hover {
    opacity: 0.9; /* Slightly increases the opacity on hover for a nice effect */
}

#purpleText{
    color: purple;
}

#orangeText{
    color: orange;
}

#yellowText{
    color: rgb(216, 184, 0);
}

#greenText{
    color: rgb(85, 168, 85);
}

